PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/english_learning_db
JWT_ACCESS_SECRET=your_super_secret_access_token_key_change_me
JWT_REFRESH_SECRET=your_super_secret_refresh_token_key_change_me
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
